<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Serinter_Maquinaria.My.MySettings.SERINTERConnectionString" connectionString="Data Source=DESKTOP-OTGBSC3;Initial Catalog=SERINTER;Persist Security Info=True;User ID=sa;Password=08132" providerName="System.Data.SqlClient"/>
    <add name="Serinter_Maquinaria.My.MySettings.SERINTERConnectionStrin1" connectionString="Data Source=192.168.2.200;Initial Catalog=SERINTER;Persist Security Info=True;User ID=sa;Password=$3rint3rsrvr" providerName="System.Data.SqlClient"/>
    <add name="Serinter_Maquinaria.My.MySettings.SERINTERConnectionString1" connectionString="Data Source=192.168.10.200;Initial Catalog=SERINTER;User ID=sa;Password=$3rint3rsrvr" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
